.git
.gitignore
.gitattributes
.DS_Store
.env
.env.example
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
public/hot
public/storage
